.card {
    padding: 2em;
    outline: 2px solid currentColor;
    outline-offset: -1em;
    box-shadow: 0 5px .5em rgba(black, .3);

    &--dark {
        background: $clr-blue-dark;
        color: $clr-blue-light;

        .section__title {
            color: white;
        }
    }


    &--start {
        grid-column: 2 / span 4;
    }
    
    &--end {
        grid-column: -2 / span 4;
    }

    &__image {    
        &--start {
            grid-column: 2 / span 3;
        }    

        &--end {
            grid-column: 5 / span 3;
        }
    }
}